<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <link rel="stylesheet" href="../../../css/geral/style-header-footer.css">
    <link rel="stylesheet" href="../../../css/geral/style-body.css">
    <link rel="stylesheet" href="../../../css/componentes/style-carousel.css">

    <script src="../../../javascript/script-carousel.js" defer></script>
    <script src="../../../javascript/scriptMenuLogado.js" defer></script>
    
    <title>Hub Midway Mall</title>

    <style>
        .main {
            background-image: none;
        }
        .empty {
            height: 20px;
        }
    </style>
</head>

<body>

    <div class="header container">

        <div class="container">
            <div>
                <img src="../../../imagens/logoMenuSuperior.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="../index.html">Início</a></li>
                    <li><a href="../hubs.html">Hubs</a></li>
                    <li><a href="../sobre.html">Sobre</a></li>
                    <li><a href="../contatos.html">Contatos</a></li>
                </ul>
            </div>
        </div>

        <!--Alterar os links do menu-->
        <div class="user">
            <div class="loginIcons"><a href="contatos.html"><img src="../../../imagens/iconAlarm.png" alt="Notificações"></a></div>
            <div class="loginIcons"><a href="../pagamento/carrinho.html"><img src="../../../imagens/iconCarrinho.png" alt="Carrinho"></a></div>
            <div class="menu-container">
                <img src="../../../imagens/photoUser.png" alt="Foto de Perfil" class="menu-trigger">
                <div class="menu" id="menu">
                    <a href="../configuracoesCliente/perfilCliente.html">Perfil</a>
                    <a href="../configuracoesCliente/pedidosCliente.html">Meus pedidos</a>
                    <a href="../../areaNaoLogada/index.html">Sair</a>
                </div>
            </div>
            <span>João Domingus</span>
        </div>

    </div>

    <div class="main">

        <div class="empty"></div>

        <div class="body-carousel" >
            <h3>Fast-food</h3>
            <div class="owl-carousel" id="carousel1">
                    <div>
                        <a href="pagEstabelecimento.html"><img src="../../../imagens/iconBobs.png" alt="Bob's"></a>
                        <span>Bob's</span>
                    </div>

                    <div>
                        <a href="pagEstabelecimento.html"><img src="../../../imagens/iconMcDonalds.png" alt="McDonald's"></a>
                        <span>McDonald's</span>
                    </div>

                    <div>
                        <a href="pagEstabelecimento.html"><img src="../../../imagens/iconPitsBurger.png" alt="Pit's Burger"></a>
                        <span>Pit's Burger</span>
                    </div>
                    <div>
                        <a href="pagEstabelecimento.html"><img src="../../../imagens/iconGiraffas.png" alt="Giraffa's"></a>
                        <span>Giraffa's</span>
                    </div>
              </div>
              <div class="custom-nav">
                <button class="custom-prev" id="carousel1-prev">← </button>
                <button class="custom-next" id="carousel1-next"> →</button>
              </div>
        </div>

        <div class="body-carousel" >
            <h3>Comidas regionais brasileiras</h3>
            <div class="owl-carousel" id="carousel2">
                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconBobs.png" alt="Bob's"></a>
                    <span>Bob's</span>
                </div>

                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconMcDonalds.png" alt="McDonald's"></a>
                    <span>McDonald's</span>
                </div>

                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconPitsBurger.png" alt="Pit's Burger"></a>
                    <span>Pit's Burger</span>
                </div>
                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconGiraffas.png" alt="Giraffa's"></a>
                    <span>Giraffa's</span>
                </div>
              </div>
              <div class="custom-nav">
                <button class="custom-prev" id="carousel2-prev">← </button>
                <button class="custom-next" id="carousel2-next"> →</button>
              </div>
        </div>

        <div class="body-carousel" >
            <h3>Self-service</h3>
            <div class="owl-carousel" id="carousel3">
                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconBobs.png" alt="Bob's"></a>
                    <span>Bob's</span>
                </div>

                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconMcDonalds.png" alt="McDonald's"></a>
                    <span>McDonald's</span>
                </div>

                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconPitsBurger.png" alt="Pit's Burger"></a>
                    <span>Pit's Burger</span>
                </div>
                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconGiraffas.png" alt="Giraffa's"></a>
                    <span>Giraffa's</span>
                </div>
              </div>
              <div class="custom-nav">
                <button class="custom-prev" id="carousel3-prev">← </button>
                <button class="custom-next" id="carousel3-next"> →</button>
              </div>
        </div>

        <div class="body-carousel" >
            <h3>Comida chinesa</h3>
            <div class="owl-carousel" id="carousel4">
                    <div>
                        <a href="pagEstabelecimento.html"><img src="../../../imagens/iconBobs.png" alt="Bob's"></a>
                        <span>Bob's</span>
                    </div>

                    <div>
                        <a href="pagEstabelecimento.html"><img src="../../../imagens/iconMcDonalds.png" alt="McDonald's"></a>
                        <span>McDonald's</span>
                    </div>

                    <div>
                        <a href="pagEstabelecimento.html"><img src="../../../imagens/iconPitsBurger.png" alt="Pit's Burger"></a>
                        <span>Pit's Burger</span>
                    </div>
                    <div>
                        <a href="pagEstabelecimento.html"><img src="../../../imagens/iconGiraffas.png" alt="Giraffa's"></a>
                        <span>Giraffa's</span>
                    </div>
              </div>
              <div class="custom-nav">
                <button class="custom-prev" id="carousel4-prev">← </button>
                <button class="custom-next" id="carousel4-next"> →</button>
              </div>
        </div>

        <div class="body-carousel" >
            <h3>Comida mexicana</h3>
            <div class="owl-carousel" id="carousel5">
                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconBobs.png" alt="Bob's"></a>
                    <span>Bob's</span>
                </div>

                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconMcDonalds.png" alt="McDonald's"></a>
                    <span>McDonald's</span>
                </div>

                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconPitsBurger.png" alt="Pit's Burger"></a>
                    <span>Pit's Burger</span>
                </div>
                <div>
                    <a href="pagEstabelecimento.html"><img src="../../../imagens/iconGiraffas.png" alt="Giraffa's"></a>
                    <span>Giraffa's</span>
                </div>
              </div>
              <div class="custom-nav">
                <button class="custom-prev" id="carousel5-prev">← </button>
                <button class="custom-next" id="carousel5-next"> →</button>
              </div>
        </div>

        
    </div>

    <div class="footer container">
        <div class="logo">
            <img src="imagens/logoInferior.png" alt="">
        </div>

        <div class="container">
            <div>
                <ul>
                    <li class="footer-header">Links:</li>
                    <li><img src="../../../imagens/logoInstagram.png" alt=""><a href="https://www.instagram.com/"><span>Instagram</span></a></li>
                    <li><img src="../../../imagens/logoPinterest.png" alt=""><a href="https://br.pinterest.com/"><span>Pinterest</span></a> </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="footer-header">Contatos:</li>
                    <li><img src="../../../imagens/pinLocation.png" alt=""><span>3º piso do Instituto Metrópole Digital</span></li>
                    <li><img src="../../../imagens/pinPhone.png" alt=""><span>(84) 9 8888-8888</span></li>
                    <li><img src="../../../imagens/pinEmail.png" alt=""><span>hubsfood@gmail.com</span></li>
                    <li><img src="../../../imagens/pinHorario.png" alt=""><span>24h</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="end">
        <span>Copyright  @ 2024  All rights reserved</span>
    </div>

</body>
