/* Estilos para o modal */
.modal {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    color: #9D9191;
}

/* Conteúdo do modal */
.modal-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: white;
    padding: 20px;
    border-radius: 20px; 
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative; 
    
    
}

.modal-content h3 a{
    color: #FF7A55;
    font-size: 12px;
}

/* Botão de fechar o modal */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #FF3700;
}

/* Estilos adicionais para inputs e botões */
.modal-content input[type="text"], 
.modal-content input[type="password"] {
    width: 90%; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #FF3700;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #FF3700;
    font-weight: 600;
}

.modal-content button {
    width: 40%; 
    padding: 10px;
    margin: 10px 0; 
    background-color: #FF7A55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:white ;
    color:#d43f2a ;
}

.modal-content h2, .modal-content h3 {
    margin-bottom: 15px; 
}

