.main {
    background-image: url("../../imagens/fachadaHubsfood.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.empty {
    height: 230px;
}

.body-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 100h;
    gap: 5px;
    padding: 10px;
    padding-bottom: 50px;
}

.body-search img {
    height: 20px;
}

.body-search span {
    color: #9D9191;
    text-decoration: none;
    font-size: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.body-about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    gap: 100px;
    width: 700px;
    margin: 10px auto;
}

.body-about img {
    width:300px;
}

.body-about h4 {
    color: #FF7A55;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    text-align: justify;
}

.body-about h2, .whychoose  h2, .aboutMore h2{
    color: #FF3700;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    margin: 5px;
    text-align: justify;
}

.body-about p, .whychoose p, .aboutMore p {
    color: #9D9191;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    text-align: justify;
    padding-top: 5px;
}

.whychoose{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 700px;
    margin: 10px auto;
    padding-top: 40px;
}

.whychoose img{
    padding-top: 20px;
    padding-bottom: 20px;
    width:800px;
}

.aboutMore{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 50px;
    width: 700px;
    margin: 10px auto;
    padding-bottom: 50px;
}

.aboutMore div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.aboutMore img{
    width:80px;
}

.nossoTime{
    background-image: url("../../imagens/sobreNosFundoNossoTime.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;

    padding-top: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin: 0px auto;
    padding-bottom: 50px;
}

.nossoTime div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}



.legend {
    background-color: #f9f9f9;
    box-shadow: inset 0 0 0 1px #ddd;
    border-radius: 0;
    color: #FF3700;
    font-weight: 700;
}

.nossoTime img {
    height: 200px;
}

.external-contatos{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    gap: 30px;               
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 50px;
}


.internal-contatos{
    flex: 1 1 calc(50% - 30px);
    background-color: #FFDED5;  
    color: #9D9191;              
    text-align: center;        
    padding: 20px;              
    border-radius: 10px; 
}

.internal-contatos img {
    transform: translateY(5px);
}

.internal-contatos h2 {
    font-size: 20px;
}

.head_estabelecimento{
    background-color: #F17575;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 100h;
}

.head_estabLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    padding: 20px;

}

.head_estabelecimento img{
    height: 120px;
}

.head_estabelecimento ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    gap: 10px;
    font-size: 14px;
    
}
.head_estabelecimento span{
    padding-left: 5px;
    font-weight: 10;
}

.faleLoja{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    padding-right: 40px;
}

.itemDescriptionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    width: 0, auto;
    padding-right: 80px;
    padding-left: 80px;
}


.itemDescription img{
    height: 150px;
}

.itemDescription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    height: 300px;

}

.itemDescription ul{
    padding: 20px 50px 20px 50px;
    gap:10px;
}

.itemTopico{
    color: #FF3700;
    font-size: 16px;
    font-weight: 700;
}

.itemDescription span{
    color:#9D9191;
    font-size: 12px;
}


.body-carousel {
    padding-top: 50px; /*50px*/
    padding-bottom: 30px; /*30px*/
    max-width: 600px; /*600px*/
    margin: 0 auto; 
    overflow: hidden; 
}


.body-carousel h3 {
    padding-bottom: 20px;
    padding-left: 70px;
    color: #FF3700;
    font-size: 20px;
    font-weight: 1000;
}

.body-carousel span {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #9D9191;
    font-size: 13px;
    font-weight: 700;
}

.body-carousel .preco{
    color: #FF3700;
}

.body-carousel .precoRiscado{
    text-decoration:line-through;
}