<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <link rel="stylesheet" href="../../css/geral/style-header-footer.css">
    <link rel="stylesheet" href="../../css/geral/style-body.css">
    <link rel="stylesheet" href="../../css/componentes/style-carousel.css">

    <script src="../../javascript/script-carousel.js" defer></script>
    <script src="../../javascript/scriptMenuLogado.js" defer></script>
    
    <title>HubsFood</title>
</head>

<body>

    <div class="header container">

        <div class="container">
            <div>
                <img src="../../imagens/logoMenuSuperior.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="indexLogado.html">Início</a></li>
                    <li><a href="hubsLogado.html">Hubs</a></li>
                    <li><a href="sobreLogado.html">Sobre</a></li>
                    <li><a href="contatosLogado.html">Contatos</a></li>
                </ul>
            </div>
        </div>

        <!--Alterar os links do menu-->
        <div class="user">
            <div class="loginIcons"><a href="#item2"><img src="../../imagens/iconAlarm.png" alt="Notificações"></a></div>
            <div class="loginIcons"><a href="carrinho.html"><img src="../../imagens/iconCarrinho.png" alt="Carrinho"></a></div>
            <div class="menu-container">
                <img src="../../imagens/photoUser.png" alt="Foto de Perfil" class="menu-trigger">
                <div class="menu" id="menu">
                    <a href="perfilCliente.html">Perfil</a>
                    <a href="pedidosCliente.html">Meus pedidos</a>
                    <a href="index.html">Sair</a>
                </div>
            </div>
            <span>João Domingus</span>
        </div>
    </div>

    <div class="main">

        <div class="empty"></div>

        <div class="body-search">
            <div><img src="../../imagens/pinLocation.png" alt=""><span>Pesquise o seu hub aqui!</span></div>
            <div><input type="search"></div>
            <div><button>Buscar</button></div>
        </div>

        <div class="body-about">
            <div><img src="../../imagens/sobreNosDescricao.png" alt="3 imagens de restaurantes"></div>
            <div>
                <h4>Sobre nós...</h4>
                <h2>O Seu Centralizador de Cardápios</h2>
                <p>O HubsFood centraliza os cardápios de praças de alimentação, permitindo que os clientes acessem menus e façam pedidos com facilidade, enquanto os restaurantes gerenciam tudo de forma simples e eficiente.</p>
            </div>
        </div>


        <div class="body-carousel">
            <h3>Hubs Cadastrados</h3>
            <div class="owl-carousel" id="carousel1">
                <div>
                    <a href="paginaHub.html"><img src="../../imagens/icon_midway.png" alt="Midway Mall Icon"></a>
                    <span>Midway Mall</span>
                </div>

                <div>
                    <a href="paginaHub.html"><img src="../../imagens/icon_natalShopping.png" alt="Natal Shopping Icon"></a>
                    <span>Natal Shopping</span>
                </div>

                <div>
                    <a href="paginaHub.html"><img src="../../imagens/icon_partage.png" alt="Partage Shopping Icon"></a>
                    <span>Partage Norte Shopping</span>
                </div>
                <div>
                    <a href="paginaHub.html"><img src="../../imagens/icon_praiaShopping.png" alt="Praia Shopping Icon"></a>
                    <span>Praia Shopping</span>
                </div>
            </div>
            <div class="custom-nav">
                <button class="custom-prev" id="carousel1-prev">← </button>
                <button class="custom-next" id="carousel1-next"> →</button>
            </div>


        </div>

        
    </div>

    <div class="footer container">
        <div class="logo">
            <img src="../../imagens/logoInferior.png" alt="">
        </div>

        <div class="container">
            <div>
                <ul>
                    <li class="footer-header">Links:</li>
                    <li><img src="../../imagens/logoInstagram.png" alt=""><a href="https://www.instagram.com/"><span>Instagram</span></a></li>
                    <li><img src="../../imagens/logoPinterest.png" alt=""><a href="https://br.pinterest.com/"><span>Pinterest</span></a> </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="footer-header">Contatos:</li>
                    <li><img src="../../imagens/pinLocation.png" alt=""><span>3º piso do Instituto Metrópole Digital</span></li>
                    <li><img src="../../imagens/pinPhone.png" alt=""><span>(84) 9 8888-8888</span></li>
                    <li><img src="../../imagens/pinEmail.png" alt=""><span>hubsfood@gmail.com</span></li>
                    <li><img src="../../imagens/pinHorario.png" alt=""><span>24h</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="end">
        <span>Copyright  @ 2024  All rights reserved</span>
    </div>

</body>
