<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../css/geral/style-header-footer.css">
    <link rel="stylesheet" href="../../../css/geral/style-body.css">
    <link rel="stylesheet" href="../../../css/componentes/style-pagamento.css">


    <script src="../../..//javascript/scriptMenuLogado.js" defer></script>

    <style>
        .main{
            background-image: none;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        
    </style>
    
    <title>Pagamento Pix</title>
</head>

<body>

    <div class="header container">

        <div class="container">
            <div>
                <img src="../../../imagens/logoMenuSuperior.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="indexLogado.html">Início</a></li>
                    <li><a href="hubsLogado.html">Hubs</a></li>
                    <li><a href="sobreLogado.html">Sobre</a></li>
                    <li><a href="contatosLogado.html">Contatos</a></li>
                </ul>
            </div>
        </div>

        <!--Alterar os links do menu-->
        <div class="user">
            <div class="loginIcons"><a href="#item2"><img src="../../../imagens/iconAlarm.png" alt="Notificações"></a></div>
            <div class="loginIcons"><a href="carrinho.html"><img src="../../../imagens/iconCarrinho.png" alt="Carrinho"></a></div>
            <div class="menu-container">
                <img src="../../../imagens/photoUser.png" alt="Foto de Perfil" class="menu-trigger">
                <div class="menu" id="menu">
                    <a href="perfilCliente.html">Perfil</a>
                    <a href="pedidosCliente.html">Meus pedidos</a>
                    <a href="index.html">Sair</a>
                </div>
            </div>
            <span>João Domingus</span>
        </div>
    </div>

    <div class="main">
        <div class="pagamentoPixContainer">
            <div><h3>Pagamento</h3></div>
            <div><h2>via Pix</h2></div>
            <img src="imagens/qrcode.png" alt="qrcode">
            <div><h3>Ou pela chave:</h3></div>
            <div><span>estabelecimento@emailPIX.com</span></div>
            <div><span>Aguarde um email de confirmação do pagamento aprovado.</span></div>
        </div>
    </div>

    <div class="footer container">
        <div class="logo">
            <img src="../../../imagens/logoInferior.png" alt="">
        </div>

        <div class="container">
            <div>
                <ul>
                    <li class="footer-header">Links:</li>
                    <li><img src="../../../imagens/logoInstagram.png" alt=""><a href="https://www.instagram.com/"><span>Instagram</span></a></li>
                    <li><img src="../../../imagens/logoPinterest.png" alt=""><a href="https://br.pinterest.com/"><span>Pinterest</span></a> </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="footer-header">Contatos:</li>
                    <li><img src="../../../imagens/pinLocation.png" alt=""><span>3º piso do Instituto Metrópole Digital</span></li>
                    <li><img src="../../../imagens/pinPhone.png" alt=""><span>(84) 9 8888-8888</span></li>
                    <li><img src="../../../imagens/pinEmail.png" alt=""><span>hubsfood@gmail.com</span></li>
                    <li><img src="../../../imagens/pinHorario.png" alt=""><span>24h</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="end">
        <span>Copyright  @ 2024  All rights reserved</span>
    </div>

</body>
