<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../../css/geral/style-header-footer.css">
    <link rel="stylesheet" href="../../../css/geral/style-body.css">
    <link rel="stylesheet" href="../../../css/paginas/styleperfilCliente.css">

    <script src="../../../javascript/scriptMenuLogado.js" defer></script>
    <style>
        .empty{
            height: 20px;
        }
    </style>
    
    <title>Perfil</title>
</head>

<body>

    <div class="header container">

        <div class="container">
            <div>
                <img src="../../../imagens/logoMenuSuperior.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="../indexLogado.html">Início</a></li>
                    <li><a href="../hubsLogado.html">Hubs</a></li>
                    <li><a href="../sobreLogado.html">Sobre</a></li>
                    <li><a href="../contatosLogado.html">Contatos</a></li>
                </ul>
            </div>
        </div>

        <!--Alterar os links do menu-->
        <div class="user">
            <div class="loginIcons"><a href="#item2"><img src="../../../imagens/iconAlarm.png" alt="Notificações"></a></div>
            <div class="loginIcons"><a href="carrinho.html"><img src="../../../imagens/iconCarrinho.png" alt="Carrinho"></a></div>
            <div class="menu-container">
                <img src="../../../imagens/photoUser.png" alt="Foto de Perfil" class="menu-trigger">
                <div class="menu" id="menu">
                    <a href="../configuracoesCliente/perfilCliente.html">Perfil</a>
                    <a href="../configuracoesCliente/pedidosCliente.html">Meus pedidos</a>
                    <a href="../../areaNaoLogada/index.html">Sair</a>
                </div>
            </div>
            <span>João Domingus</span>
        </div>
    </div>

    <main>
        <div class="empty"></div>
        <div class="informacoesPessoais">
            <div class="fotoPerfil">
                <img src="../../../imagens/time.png" alt="">
            </div>
            <div class="dadosMeio ">
                <h2 id="nomeUsuario">Ana Paula Oliveira de Lima</h2>
                <p id="emailUsuario"><img src="../../../imagens/pinEmail.png" alt="">anapaulalima@gmail.com</p>
                <p id="enderecoUsuario"><img src="../../../imagens/pinLocation.png"width="25px" alt="">Natal,RN</p>
            </div>
            <div class="dadosEsquerda">
                <img id="editorDadosPessoais" src="../../../imagens/icon_editar.png" alt="">
                <p id="telefoneUsuario"><img src="../../../imagens/pinPhone.png" alt="">84 99619-0041</p>
                <p id="dataEntrada"><img src="../../../imagens/icon_calendario.png"width="20px" alt="">Desde 2024</p>
            </div>
        </div>


        <div class="areaCartao">
            <h2>Cadastrar Cartão de Crédito</h2>
            <form action="">
                <div class="conteinerCadastrarCartao">
                    <h3><img src="../../../imagens/pincartao.png" alt="">  Cartão de Crédito</h3>

                    <input type="text" placeholder="NOME ESCRITO NO CARTÃO">
                    <input type="text" placeholder="NÚMERO DO CARTÃO">
                    <div class="input-container">
                        <input type="text" placeholder="CVV">
                        <input type="text" placeholder="EXPIRA EM:">
                    </div>
                    <button>Salvar Detalhes</button>
                </div>
                
            </form>
        </div>
        <div class="empty"></div>
    </main>
    <div class="footer container">
        <div class="logo">
            <img src="../../../imagens/logoInferior.png" alt="">
        </div>

        <div class="container">
            <div>
                <ul>
                    <li class="footer-header">Links:</li>
                    <li><img src="../../../imagens/logoInstagram.png" alt=""><a href="https://www.instagram.com/"><span>Instagram</span></a></li>
                    <li><img src="../../../imagens/logoPinterest.png" alt=""><a href="https://br.pinterest.com/"><span>Pinterest</span></a> </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="footer-header">Contatos:</li>
                    <li><img src="../../../imagens/pinLocation.png" alt=""><span>3º piso do Instituto Metrópole Digital</span></li>
                    <li><img src="../../../imagens/pinPhone.png" alt=""><span>(84) 9 8888-8888</span></li>
                    <li><img src="../../../imagens/pinEmail.png" alt=""><span>hubsfood@gmail.com</span></li>
                    <li><img src="../../../imagens/pinHorario.png" alt=""><span>24h</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="end">
        <span>Copyright  @ 2024  All rights reserved</span>
    </div>

</body>