main{
    width: 80%;
    margin-top:  5%;
    margin-left: 10%;
}
caption{
    color: #858282;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}
#filaPedidos {
    width: 80%; /* Largura da tabela */
    margin: 20px auto; /* Centraliza a tabela horizontalmente */
    border-collapse: collapse; /* Remove o espaço entre as bordas das células */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra sutil */
    color: #767474;
}

#filaPedidos th, #filaPedidos td {
    padding: 15px; /* Espaçamento de 15px nas células */
    text-align: left; /* Alinhamento à esquerda */
}

#filaPedidos th {
    background-color: #f4f5f7; /* Cor de fundo para o cabeçalho */
    font-weight: bold; /* Deixa o texto do cabeçalho em negrito */
}

#filaPedidos tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo alternada para as linhas do corpo */
}

#filaPedidos tbody tr:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse por cima das linhas */
}
