<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../css/geral/style-header-footer.css">
    <link rel="stylesheet" href="../../css/geral/style-body.css">
    <link rel="stylesheet" href="../../css/paginas/style-adm.css">

    <script src="../../javascript/scriptMenuLogado.js" defer></script>
    <script src="../../javascript/script-autorisacaoRestaurantes.js" defer></script>


    <style>
        .main{
            background-image: none;
        }
        
    </style>


    <title>Perfil Super Usuário</title>
</head>

<body>
    <div class="header container">

        <div class="container">
            <div>
                <img src="../../imagens/logoMenuSuperior.png" alt="">
            </div>
        </div>

        <!--Alterar os links do menu-->
        <div class="user">
            <div class="menu-container">
                <img src="../../imagens/userEstabelecimento.png" alt="Foto de Perfil" class="menu-trigger">
                <div class="menu" id="menu">
                    <a href="solicitacoesAdm.html">PSolicitações</a>
                    <a href="restauranteAutorizados.html">Restaurantes Autorisador</a>
                    <a href="hubsCadastrados.html">Hubs cadastrados</a>
                    <a href="../../templates/areaNaoLogada/index.html">Sair</a>
                </div>
            </div>
            <span>Administrador</span>
        </div>
    </div>

    <main>

        <div class="menuVerticalEsquerda">

            <div class="botaoSair">
               <a href="../areaNaoLogada/index.html"> <img width="120%"  src="../../imagens/botaoSair.png" alt=""></a>
            </div>

            <div class="logo">
                <img  src="../../imagens/logoInferior.png" alt="">
            </div>

            <div class="fotoCinza">
                <img src="../../imagens/userEstabelecimento.png" alt="">
            </div>
            <div class="listaVertical">
                <div class="menuVErtical" >
                    <a href="solicitacoesAdm.html">Solicitações</a>
                    <a href="restauranteAutorizados.html">Restaurantes Autorisador</a>
                    <a href="hubsCadastrados.html">Hubs cadastrados</a>
                </div>

            </div>

        </div>

        <div class="contudoDireita">
            <div class="cabecalhoCor">
                <img src="../../imagens/userEstabelecimento.png">

            </div>

            <div class="conteudoSolicitacoes"> 
               <h3>Solicitações</h3> 
               <div class="solicitacao">
                <h4>Nome Restaurante</h4>
                <p>Bob's</p>
            
                <h4>Hub de Referência</h4>
                <p>Midway</p>
            
                <h4>Nome do Responsável</h4>
                <p>Doma Maria</p>
            
                <h4>Contato do Responsável</h4>
                <p>(84)9xxxx-xxxx</p>
            
                <h4>Tipo de Estabelecimento</h4>
                <p>Comida Chinesa</p>
            
                <label for="observacoes">Observações</label>
                <input type="textarea" name="observacoes" id="observacoes">
            
                <!-- Contêiner para botões -->
                <div class="conteinerBotoes">
                    <button class="autorisarSolicitacao">Autorizar</button>
                    <button class="negarSolicitacao">Rejeitar</button>
                </div>
            </div>
            
               
            </div>
        </div>
    </main>


    <div class="footer container">
        <div class="logo">
            <img src="../../imagens/logoInferior.png" alt="Logo Inferior">
        </div>

        <div class="container">
            <div>
                <ul>
                    <li class="footer-header">Links:</li>
                    <li><img src="../../imagens/logoInstagram.png" alt="Instagram"><a href="https://www.instagram.com/"><span>Instagram</span></a></li>
                    <li><img src="../../imagens/logoPinterest.png" alt="Pinterest"><a href="https://br.pinterest.com/"><span>Pinterest</span></a> </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="footer-header">Contatos:</li>
                    <li><img src="../../imagens/pinLocation.png" alt="Pin"><span>3º piso do Instituto Metrópole Digital</span></li>
                    <li><img src="../../imagens/pinPhone.png" alt="Phone"><span>(84) 9 8888-8888</span></li>
                    <li><img src="../../imagens/pinEmail.png" alt="Email"><span>hubsfood@gmail.com</span></li>
                    <li><img src="../../imagens/pinHorario.png" alt="Horário"><span>24h</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="end">
        <span>Copyright  @ 2024  All rights reserved</span>
    </div>

</body>
